<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="http://docs.getdkan.com">Docs</a></li>
            <li><a href="{{ site.baseurl }}/community">Community</a></li>
            <li><a href="{{ site.baseurl }}/features">Features</a></li>
            <li><a href="{{ site.baseurl }}/partners">Support</a></li>
          </ul>
          <ul class="social-icons">

            <li>
              <a href="http://twitter.com/getdkan"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="http://github.com/nucivic/dkan"><i class="fa fa-github"></i></a>
            </li>
          </ul>
        </div>
        <p>DKAN is a project of Granicus.</p>
      </div>
    </div>
  </div>
</footer>
