<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
          </ul>
          <ul class="social-icons">

            <li>
              <a href="http://twitter.com/getdkan"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="http://facebook.com/dkan"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="http://github.com/nucivic/dkan"><i class="fa fa-github"></i></a>
            </li>
          </ul>
        </div>
        <p>DKAN is a project of Granicus. Temporary: Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
